In [7]:
import pandas as pd

In [8]:
# The path to our CSV file
file = "Resources/IMDb movies.csv"

# Read our Kickstarter data into pandas
movies_df = pd.read_csv(file)
movies_df.head()

C:\Users\mattb\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3437: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [9]:
# The path to our CSV file
file = "Resources/IMDb ratings.csv"

# Read our Kickstarter data into pandas
ratings_df = pd.read_csv(file)
ratings_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [10]:
merged_df = pd.merge(movies_df, ratings_df, on='imdb_title_id')
merged_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [11]:
merged_dropped_df = merged_df.dropna(axis=1)
merged_dropped_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,avg_vote,votes,weighted_average_vote,...,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,5.9,154,5.9,...,12,4,10,43,28,28,9,1,5,14
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,6.1,589,6.1,...,57,18,58,137,139,103,28,20,13,16
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,5.8,188,5.8,...,6,6,17,44,52,32,16,5,6,4
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,5.2,446,5.2,...,15,8,16,62,98,117,63,26,25,16
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,7.0,2237,7.0,...,210,225,436,641,344,169,66,39,20,87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,5.3,398,5.3,...,13,9,26,65,104,86,32,28,15,20
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,7.7,724,7.7,...,65,139,288,170,42,7,5,2,2,4
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,7.9,265,7.9,...,63,29,61,61,31,5,5,6,1,3
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,6.4,194,6.4,...,176,0,2,2,1,0,1,1,0,11
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,6.7,102,6.7,...,4,4,21,35,27,2,4,3,1,1

In [12]:
randomized_merged_dropped_df = merged_dropped_df.sample(n=10000)
randomized_merged_dropped_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,avg_vote,votes,weighted_average_vote,...,votes_10,votes_9,votes_8,votes_7,votes_6,votes_5,votes_4,votes_3,votes_2,votes_1
37225,tt0227408,Rubber's Lover,Rubber's Lover,1996,1996-09-28,"Horror, Sci-Fi",91,6.3,786,6.3,...,101,57,112,139,141,87,45,34,24,46
50396,tt0824406,Tennis no oujisama,Tennis no oujisama,2006,2006-05-13,Action,111,6.2,345,6.2,...,74,17,35,57,69,41,20,14,4,14
12584,tt0060268,Cul de sac,Cul-de-sac,1966,1967-10-10,"Comedy, Drama, Thriller",112,7.1,11520,7.1,...,986,1201,2906,3224,1717,741,298,177,104,166
77000,tt5183594,Vida de Familia,Vida de Familia,2017,2017-01-26,"Comedy, Drama",80,6.2,123,6.2,...,3,4,20,27,34,17,10,3,2,3
47001,tt0444672,Moving McAllister,Moving McAllister,2007,2007-09-14,"Adventure, Comedy, Romance",89,5.3,3673,5.3,...,315,108,223,462,753,722,450,246,166,228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30695,tt0119368,The Informant,The Informant,1997,1998-01-02,Drama,105,6.4,580,6.4,...,65,55,83,126,133,60,27,8,10,13
52522,tt10199590,I miserabili,Les misérables,2019,2020-05-18,"Crime, Drama, Thriller",104,7.6,14644,7.6,...,961,2341,5368,3789,1247,367,191,77,77,226
54795,tt1159917,Bombay to Bangkok,Bombay to Bangkok,2008,2008-01-18,"Comedy, Crime, Romance",120,4.6,405,4.6,...,33,8,22,33,64,83,51,34,23,54
45797,tt0416717,En Büyük Yumruk,En Büyük Yumruk,1983,1983-05-01,"Action, Comedy, Crime",76,5.7,169,5.7,...,53,7,18,13,22,12,7,13,4,20
2819,tt0029565,Silver Blaze,Silver Blaze,1937,1937-10-25,"Crime, Mystery",71,5.9,596,5.9,...,25,14,38,93,204,137,63,13,5,4