In [1]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.ensemble import RandomForestRegressor

In [2]:
# The path to our CSV file
file = "Resources/IMDb movies.csv"

# Read our Kickstarter data into pandas
movies_df = pd.read_csv(file)
movies_df.head()

C:\Users\EDDY\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [3]:
# The path to our CSV file
file = "Resources/IMDb ratings.csv"

# Read our Kickstarter data into pandas
ratings_df = pd.read_csv(file)
ratings_df.head()

,imdb_title_id,weighted_average_vote,total_votes,mean_vote,median_vote,votes_10,votes_9,votes_8,votes_7,votes_6,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,5.9,154,5.9,6.0,12,4,10,43,28,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,6.1,589,6.3,6.0,57,18,58,137,139,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,5.8,188,6.0,6.0,6,6,17,44,52,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,5.2,446,5.3,5.0,15,8,16,62,98,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,7.0,2237,6.9,7.0,210,225,436,641,344,...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0

In [4]:
merged_df = pd.merge(movies_df, ratings_df, on='imdb_title_id')
merged_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,5.7,13.0,4.5,4.0,5.7,34.0,6.4,51.0,6.0,70.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,6.2,23.0,6.6,14.0,6.4,66.0,6.0,96.0,6.2,331.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,5.8,4.0,6.8,7.0,5.4,32.0,6.2,31.0,5.9,123.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,5.5,14.0,6.1,21.0,4.9,57.0,5.5,207.0,4.7,105.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,7.3,82.0,7.4,77.0,6.9,139.0,7.0,488.0,7.0,1166.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,5.7,11.0,5.0,2.0,5.5,12.0,6.3,22.0,5.3,214.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,8.0,47.0,7.3,30.0,7.0,6.0,6.8,13.0,7.7,388.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,2.0,2.0
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,NaN,NaN,7.0,1.0,4.0,3.0,1.7,5.0,5.8,5.0
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,6.8,4.0,7.5,4.0,7.0,4.0,6.7,13.0,6.7,60.0

In [5]:
merged_dropped_df = merged_df.dropna(axis=0)
merged_dropped_df = merged_dropped_df[merged_dropped_df['country'].str.contains('USA')]
merged_dropped_df

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
1048,tt0021749,Luci della città,City Lights,1931,1931-04-02,"Comedy, Drama, Romance",87,USA,English,Charles Chaplin,...,8.5,8282.0,8.4,3306.0,8.1,645.0,8.5,27231.0,8.5,72716.0
2454,tt0027977,Tempi moderni,Modern Times,1936,1937-03-12,"Comedy, Drama, Family",87,USA,English,Charles Chaplin,...,8.5,10739.0,8.4,3576.0,8.2,647.0,8.5,29080.0,8.5,97123.0
2827,tt0029583,Biancaneve e i sette nani,Snow White and the Seven Dwarfs,1937,1938-11-30,"Animation, Family, Fantasy",83,USA,English,"William Cottrell, David Hand",...,7.6,21144.0,8.0,3813.0,7.8,712.0,7.7,38861.0,7.5,72709.0
3266,tt0031381,Via col vento,Gone with the Wind,1939,1949-03-12,"Drama, History, Romance",238,USA,English,"Victor Fleming, George Cukor",...,8.5,38520.0,8.6,13587.0,8.0,732.0,8.2,65578.0,8.1,112298.0
3348,tt0031679,Mr. Smith va a Washington,Mr. Smith Goes to Washington,1939,1947-04-05,"Comedy, Drama",129,USA,English,Frank Capra,...,8.1,6016.0,8.3,3779.0,8.0,610.0,8.3,35105.0,8.0,33596.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85176,tt9134216,Non si scherza col fuoco,Playing with Fire,2019,2020-02-27,"Comedy, Family",96,USA,"English, Spanish",Andy Fickman,...,5.1,485.0,5.3,207.0,4.0,121.0,5.0,1476.0,4.8,2979.0
85221,tt9173418,The Boy - La maledizione di Brahms,Brahms: The Boy II,2020,2020-03-19,"Drama, Horror, Mystery",86,"USA, China, Canada, Australia",English,William Brent Bell,...,4.7,628.0,5.2,162.0,3.8,112.0,4.5,1128.0,4.6,3353.0
85266,tt9208444,Impractical Jokers: The Movie,Impractical Jokers: The Movie,2020,2020-02-28,Comedy,92,USA,English,Chris Henchy,...,6.7,131.0,6.0,51.0,4.7,62.0,6.2,1213.0,5.4,888.0
85397,tt9354944,Jexi,Jexi,2019,2019-10-11,"Comedy, Romance",84,"USA, Canada",English,"Jon Lucas, Scott Moore",...,5.9,835.0,6.2,230.0,5.1,130.0,6.0,1985.0,5.9,5945.0
85740,tt9779516,Cosa mi lasci di te,I Still Believe,2020,2020-03-19,"Biography, Drama, Music",116,USA,English,"Andrew Erwin, Jon Erwin",...,6.6,513.0,7.4,202.0,4.8,63.0,6.8,1089.0,6.1,1679.0

In [6]:
randomized_merged_dropped_df = merged_dropped_df.sample(n=10000, replace=True).reset_index(drop=True)
randomized_merged_dropped_df.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,tt0343135,...E alla fine arriva Polly,Along Came Polly,2004,2004-03-12,"Comedy, Romance",90,USA,"English, Spanish",John Hamburg,...,5.8,15884.0,5.9,2657.0,5.6,518.0,5.9,26267.0,5.9,61434.0
1,tt2180411,Into the Woods,Into the Woods,2014,2015-04-02,"Adventure, Comedy, Drama",125,USA,English,Rob Marshall,...,6.0,16907.0,6.3,3674.0,5.5,490.0,6.3,21496.0,5.8,49608.0
2,tt2304933,La quinta onda,The 5th Wave,2016,2016-02-04,"Action, Adventure, Sci-Fi",112,"USA, UK",English,J Blakeson,...,5.5,6609.0,5.7,1536.0,4.8,411.0,5.3,9497.0,5.1,40802.0
3,tt1430132,Wolverine - L'immortale,The Wolverine,2013,2013-07-25,"Action, Adventure, Sci-Fi",126,"USA, UK","English, Japanese",James Mangold,...,6.6,20757.0,6.9,4211.0,6.5,697.0,6.8,51630.0,6.6,179707.0
4,tt1915581,Magic Mike,Magic Mike,2012,2012-09-21,"Comedy, Drama",110,USA,English,Steven Soderbergh,...,6.0,22424.0,6.1,4530.0,5.4,474.0,6.1,22304.0,6.0,58312.0

In [7]:
randomized_merged_dropped_df.to_csv('Sample/sample.csv')

In [8]:
# The path to our CSV file
file = "Sample/sample.csv"

# Read our Kickstarter data into pandas
sample_df = pd.read_csv(file)
sample_df.head()

,Unnamed: 0,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,...,females_30age_avg_vote,females_30age_votes,females_45age_avg_vote,females_45age_votes,top1000_voters_rating,top1000_voters_votes,us_voters_rating,us_voters_votes,non_us_voters_rating,non_us_voters_votes
0,0,tt0343135,...E alla fine arriva Polly,Along Came Polly,2004,2004-03-12,"Comedy, Romance",90,USA,"English, Spanish",...,5.8,15884.0,5.9,2657.0,5.6,518.0,5.9,26267.0,5.9,61434.0
1,1,tt2180411,Into the Woods,Into the Woods,2014,2015-04-02,"Adventure, Comedy, Drama",125,USA,English,...,6.0,16907.0,6.3,3674.0,5.5,490.0,6.3,21496.0,5.8,49608.0
2,2,tt2304933,La quinta onda,The 5th Wave,2016,2016-02-04,"Action, Adventure, Sci-Fi",112,"USA, UK",English,...,5.5,6609.0,5.7,1536.0,4.8,411.0,5.3,9497.0,5.1,40802.0
3,3,tt1430132,Wolverine - L'immortale,The Wolverine,2013,2013-07-25,"Action, Adventure, Sci-Fi",126,"USA, UK","English, Japanese",...,6.6,20757.0,6.9,4211.0,6.5,697.0,6.8,51630.0,6.6,179707.0
4,4,tt1915581,Magic Mike,Magic Mike,2012,2012-09-21,"Comedy, Drama",110,USA,English,...,6.0,22424.0,6.1,4530.0,5.4,474.0,6.1,22304.0,6.0,58312.0

In [9]:
sample_df.columns

Index(['Unnamed: 0', 'imdb_title_id', 'title', 'original_title', 'year',
       'date_published', 'genre', 'duration', 'country', 'language',
       'director', 'writer', 'production_company', 'actors', 'description',
       'avg_vote', 'votes', 'budget', 'usa_gross_income',
       'worlwide_gross_income', 'metascore', 'reviews_from_users',
       'reviews_from_critics', 'weighted_average_vote', 'total_votes',
       'mean_vote', 'median_vote', 'votes_10', 'votes_9', 'votes_8', 'votes_7',
       'votes_6', 'votes_5', 'votes_4', 'votes_3', 'votes_2', 'votes_1',
       'allgenders_0age_avg_vote', 'allgenders_0age_votes',
       'allgenders_18age_avg_vote', 'allgenders_18age_votes',
       'allgenders_30age_avg_vote', 'allgenders_30age_votes',
       'allgenders_45age_avg_vote', 'allgenders_45age_votes',
       'males_allages_avg_vote', 'males_allages_votes', 'males_0age_avg_vote',
       'males_0age_votes', 'males_18age_avg_vote', 'males_18age_votes',
       'males_30age_avg_vote', 'males_30age_votes', 'males_45age_avg_vote',
       'males_45age_votes', 'females_allages_avg_vote',
       'females_allages_votes', 'females_0age_avg_vote', 'females_0age_votes',
       'females_18age_avg_vote', 'females_18age_votes',
       'females_30age_avg_vote', 'females_30age_votes',
       'females_45age_avg_vote', 'females_45age_votes',
       'top1000_voters_rating', 'top1000_voters_votes', 'us_voters_rating',
       'us_voters_votes', 'non_us_voters_rating', 'non_us_voters_votes'],
      dtype='object')

In [10]:
sample_df[['weighted_average_vote','mean_vote','avg_vote']].corr()

                       weighted_average_vote  mean_vote  avg_vote
weighted_average_vote               1.000000   0.986239  1.000000
mean_vote                           0.986239   1.000000  0.986239
avg_vote                            1.000000   0.986239  1.000000

In [11]:
y=merged_dropped_df['us_voters_rating']
X=merged_dropped_df[['year','duration','weighted_average_vote']]

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Scaling the X data by using StandardScaler()
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_train_scaled

array([[-0.98939061,  0.91079406,  0.05627395],
       [-2.91096948, -0.71866737,  0.8469027 ],
       [ 0.68154754, -0.14047138, -0.8331834 ],
       ...,
       [-0.65520298, -0.71866737, -0.8331834 ],
       [ 1.09928208,  1.69924314,  0.25393113],
       [-1.74131278, -0.19303465, -2.31561232]])

In [14]:
# Transforming the test dataset based on the fit from the training dataset
X_test_scaled = scaler.transform(X_test)
X_test_scaled

array([[-1.49067205, -1.19173682, -0.43786903],
       [ 0.59800064, -0.45585101,  0.05627395],
       [-0.9058437 ,  0.59541443, -0.04255465],
       ...,
       [-0.32101535,  2.01462277,  1.14338848],
       [-1.65776587, -0.50841429,  1.14338848],
       [ 0.34735991,  2.27743913,  2.5269888 ]])

In [15]:
# Create the model

from sklearn.linear_model import LinearRegression

model = LinearRegression()

In [16]:
# Fit the model to the training data. 

### BEGIN SOLUTION

model.fit(X_train, y_train)

LinearRegression()

In [17]:
from sklearn.metrics import mean_squared_error, r2_score

# Use our model to make predictions
predicted = model.predict(X_test)

# Score the predictions with mse and r2
mse = mean_squared_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print(f"mean squared error (MSE): {mse}")
print(f"R-squared (R2): {r2}")

mean squared error (MSE): 0.02995733790395624
R-squared (R2): 0.9745482265440881

In [18]:
model.score(X_test, y_test)

0.9745482265440881

In [19]:
predicted

array([6.0381012 , 6.51297684, 6.41616945, ..., 7.63728116, 7.70293267,
       9.08580778])

In [20]:
predictions=pd.DataFrame({'y':y_test, 'Predictions':predicted})
predictions

         y  Predictions
22551  6.2     6.038101
60418  6.4     6.512977
27148  6.7     6.416169
76336  6.9     7.006358
31188  6.4     6.546677
...    ...          ...
31214  6.9     7.065931
31238  7.7     7.666022
34998  7.7     7.637281
21310  7.8     7.702933
48078  9.1     9.085808

[1062 rows x 2 columns]

In [26]:
predictions[predictions['Predictions']>5]

         y  Predictions
22551  6.2     6.038101
60418  6.4     6.512977
27148  6.7     6.416169
76336  6.9     7.006358
31188  6.4     6.546677
...    ...          ...
31214  6.9     7.065931
31238  7.7     7.666022
34998  7.7     7.637281
21310  7.8     7.702933
48078  9.1     9.085808

[985 rows x 2 columns]

In [22]:
clf = RandomForestRegressor(random_state=1, n_estimators=500).fit(X_train, y_train)
print(f'Training Score: {clf.score(X_train, y_train)}')
print(f'Testing Score: {clf.score(X_test, y_test)}')

Training Score: 0.9955512270877337
Testing Score: 0.9703150110546641

In [23]:
new_predicted = clf.predict(X_test)
new_predicted

array([6.0908    , 6.64458333, 6.3552    , ..., 7.4854    , 7.699     ,
       8.7576    ])

In [24]:
lr_mse = mean_squared_error(y_test, predicted)
rf_mse = mean_squared_error(y_test, new_predicted)
print(f"linear regression mean squared error (MSE): {lr_mse}")
print(f"random forest mean squared error (MSE): {rf_mse}")

linear regression mean squared error (MSE): 0.02995733790395624
random forest mean squared error (MSE): 0.03493993241968255